* {
    padding: 0px;
    margin: 0px;
    text-align: center;
   
}

body {
    box-sizing: border-box;
    background-color: #000;
    line-height: 26px;
    margin: 0px;
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
}

#initial-page{
    display: none;
    z-index: 99;
}

#game-over-page, #win-page{
    display: none;
    z-index: 99;
}

#blocker{
    z-index: 98;
}

#clockdiv{
    z-index: 99;
}

.blocker-container {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}

.backgroud-black-rgb{
    background-color: rgb(0, 0, 0);
}

.backgroud-black-rgba{
    background-color: rgba(0, 0, 0, 0.8);
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;   
}

.flex-column h2 {
    margin-top: 20%;
    font-size: 30px;
    font-family:'Sahitya';
    color:white;
}

.flex-column-item {
    height: auto;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.flex-column-item h1 {
    margin-top: 8%;
    font-family: 'Metal Mania';
    font-size: 40px;
    color:white;
}

.flex-column-item p {
    margin-top: 7%;
    font-family:'Sahitya';
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    color:white;

}
.flex-column-item h2 {
    margin-top: 5%;
    font-size: 25px;
    font-family:'Sahitya';
    color:white;
}

.loader {
    position: relative;
    border: 8px solid #b9b9b9;
    border-top: 8px solid #38393a; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5% auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#instructions {
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-family: 'Metal Mania';
}

#action {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 80%;
    left: 0;
    z-index: 99;
    display: none;
}

#action span {
    display: inline-block;
    width: auto;
    padding: 15px;
    margin: 0px auto;
    margin-top: 20px;
    background-color: #ffffff;
    border: 2px solid black;
    text-align: center;
    font-family: 'Metal Mania';
    font-size: 25px;
    color: black;
}

#alert, #remove {
    position: absolute;
    height: 150px;
    width: 100%;
    top: calc(50% - 1px); /*-1*/
    left: 0;
    z-index: 99;
    background-color: #d1cacad0;
    display: none;
    font-family:'Sahitya';
    font-size: 40px;
    line-height: 150px;
    color: black;
    text-align: center;
}

#message {
    position: absolute;
    height: 150px;
    width: 100%;
    top: calc(50% - 1px); 
    left: 0;
    z-index: 99;
    background-color: #d1cacad0;
    display: none;
    font-family:'Sahitya';
    font-size: 30px;
    line-height: 100px;
    color: black;
    text-align: center;
}

#safe-message, #LR-message, #G-message {
    position: absolute;
    height: 250px;
    width: 100%;
    top: calc(50% + 20px); 
    left: 0;
    z-index: 99;
    background-color: #d1cacad0;
    display: none;
    font-family:'Sahitya';
    font-size: 25px;
    line-height: 30px;
    color: black;
    text-align: center;
}

#mirror-message, #book-message, #sheetmusic-message, #table-message, #rose-message, #set-message, #gnome-message {
    position: absolute;
    height: 150px;
    width: 100%;
    top: calc(50% + 20px); 
    left: 0;
    z-index: 99;
    background-color:#d1cacad0;
    display: none;
    font-family:'Sahitya';
    font-size: 25px;
    line-height: 30px;
    color: black;
    text-align: center;
}

#txtInput{
    position: relative;
    height: 40px;
    top: calc(50% - 115px);
    outline: none;
    border: none;
    padding-left: 25px;
    letter-spacing: 40px;
    border: 0;
    background-image: linear-gradient(to left, black 65%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 60px 1.5px;
    background-repeat: repeat-x;
    background-position-x: 45px;
    background-color:transparent;
    width: 220px;
    font-size: 25px;
    
}

#backpack {
    display: none;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 70%;
    right: 50px;
}

#backpack img {
    height: 100px;
    width: 100px;
}

#backpack-objects {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 290px;
    height: auto;
    padding: 3px;
    position: absolute;
    top: 55%;
    right: 50px;
    background-color: #00000050;
}

#backpack-objects h5 {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 0px;
}

.backpack-item {
    height: 50px;
    width: 50px;
    margin: 0px 4px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
}

.backpack-item img {
    height: 50px;
    width: 50px;
}

.border {
    border: 2px solid black;
}

#clockdiv{
    position: absolute;
    left: 20px;
    top: 30px;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
    padding: 7px;
	border-radius: 3px;
	background: transparent;
    display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
    border: 0.5px solid black;
	background: transparent;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.grey-color {
    color: rgb(68, 68, 68);
}

.white-color {
    color: rgb(255, 255, 255);
}

.white-background-rgba {
    background-color: #ffffff50;
}
